{% extends "base_santoscua.html" %}

{% block title %}Engagement Attachments{% endblock title %}

{% block nav %}
    <!-- compliance home -->
    {% include '../home.html' %}

    <!-- clients -->
    <a class="nav-item nav-link text-default" href="/compliance/engagements?q={{ client.contact.alias }}">
            <i class="fa fa-2x fa-briefcase" title="back to {{ client.contact.alias }}"></i>
    </a>
    
    <!-- new attachment-->
    <a class="nav-item nav-link" href="{% url 'compliance:attachment_new' client.id %}">
        <i class="fa fa-plus text-success" title="New Attachment"><i class="fa fa-2x fa-file text-white" title="New Attachment"></i></i>
        
    </a>
{% endblock nav %}

{% block head %}
    <style type="text/css">
        .model-icon{
            font-size: 40px;
            color: black;
        }
        .pager li.active > a, .pager li.active > span{
            color: #fff;
            background-color:#212121;
            border-color: #212121;
            pointer-events:none;
        }
        .actions-toggle-icons{
            font-size: 25px;
        }
    </style>
{% endblock head %}

{% block content %}
     <h1 class="">Attachments - List</h1>

     <!-- search box -->
     {% include 'compliance/attachments/includes/index_search.html' %}


    {% if attachments %}
        <!-- pagination -->
        {% include 'includes/index_pagination.html' with model_list=attachments model_name="attachments" %}

        <!-- list -->
        <div class="container">
            <table class="table table-condensed table-bordered table-hover table-striped color-black">
                <thead class="table-inverse">
                    <tr class="text-capitalize ">
                        <th class="text-center ">code</th>
                        <th class="text-center " >attachment</th>
                        <th class="text-center ">remarks</th>
                        <th class="text-center ">actions</th>
                    </tr>
                </thead>
                    {% for attachment in attachments %}
                        <tr>

                            <!-- code -->
                            <td class="text-center">{{ attachment.code }}</td>

                            <!-- attachment -->
                            <td class="text-center">{{ attachment.attachment.name }}</td>

                             <!-- attachment remarks -->
                            <td class="text-center">{{ attachment.remarks }}</td>

                            <!-- actions -->
                            <td class="text-center">
                                <a class="btn btn-outline-default action-toggle-buttons" data-toggle="collapse" href="#id-table-actions-{{forloop.counter}}" aria-expanded="false" aria-controls="id-table-actions-{{forloop.counter}}">
                                  <i class="fa fa-angle-double-down actions-toggle-icons"></i>
                                </a>
                                <div class="collapse" id="id-table-actions-{{forloop.counter}}">
                                  <div class="card card-block">
                                    <form id='id-form-delete-{{forloop.counter}}' action="{% url 'compliance:attachment_destroy' attachment.id %}" method="post">

                                        {% csrf_token %}
                                        <button form='id-form-delete-{{forloop.counter}}' class="action-delete btn btn-outline-danger" type="submit" title="delete">
                                            <i class="fa fa-trash-o" ></i>
                                        </button>
                                        
                                    </form>

                                    <!-- download -->
                                    <form id='id-form-download-{{forloop.counter}}' action="{{ attachment.attachment.url }}" method="get">
                                        <button form='id-form-download-{{forloop.counter}}' class="action-download btn btn-outline-primary" type="submit" title="download attachment">
                                            <i class="fa fa-download" ></i>
                                        </button>
                                        
                                    </form>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                <tbody>
                    
                </tbody>
            </table>

        <!-- pagination -->
        {% include 'includes/index_pagination.html' with model_list=attachments model_name="attachments" %}
                    
        </div>
    {% endif %}

    <!-- if recordset is blank -->
    {% if not attachments  %}
        <div class="container">
            {% include 'includes/index_no_record.html' %}
            
        </div>
    {% endif %}
    
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('.action-toggle-buttons').click(function(){
                $(this).toggle()
            })
        })
    </script>
{% endblock script %}
