{% extends "../base.html" %}

{% load static %}

{% block title %}Client - Detail {{ employee.abbr|upper }}{% endblock title %}

{% block nav %}
    {{ block.super }}
    <a class="nav-item nav-link" href="{% url 'compliance:client_destroy' model.id %}">Delete</a>
    <a class="nav-item nav-link" href="{% url 'compliance:client_index' %}">List</a>
{% endblock nav %}

{% block head %}
    <style type="text/css">
        .avatar {
            border:2px solid #212121;
        }            
    </style>    
{% endblock head %}

{% block content %}
     <h1>Client - Detail</h1>

     {% if model.contact.image %}
        <img class="img-thumbnail avatar" src="{% get_media_prefix %}{{ model.contact.image }}" alt="image {{ model.contact }}" width="150px" height="200px">
     {% endif %}

    {% if not model.contact.image %}
        {% ifequal model.contact.entity_type 1 %}
            <img class="img-thumbnail avatar" src="/media/contacts/images/empty.png" alt="image {{ model.contact }}" width="200px" height="200px">                                      
        {% endifequal %}
        
        {% ifequal model.contact.entity_type 2 %}
            <img class="img-thumbnail avatar" src="/media/contacts/images/empty-artificial.png" alt="image {{ model.contact }}" width="200px" height="200px">                                      
        {% endifequal %}
                                        
    {% endif %}

    <form enctype="multipart/form-data" action="{% url 'compliance:client_update' model.id %}" method="post" class="form">
        {% csrf_token %}

        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#id-div-model" aria-expanded="true">
                    <div class="panel-heading bg-inverse color-gray">
                        <h4 class="panel-title">
                            Client Info
                        </h4>
                    </div>
                    
                </a>
            <div id="id-div-model" aria-expanded="true" class="collapse show" >
                <div class="panel-body">
                    <table class="table table-condensed table-bordered" id="id-table-contact">
                        <tbody>
                            {{ form.as_table|lower }}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <!-- submit button -->
        <input type="submit" value="Save" id='id-bottom'>
    </form>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            alert('Welcome to {{model.contact.alias|upper}}\'s client profile.')
        })
    </script>
{% endblock script %}
