{% extends "base_santoscua.html" %}

{% load static %}

{% block title %}{{ record.employee.abbr|upper }} on {{ record.date }} {{ model_name|title }} - DTR {% endblock title %}

{% block nav %}
    {{ block.super }}

    <!-- list -->
    <a class="nav-item nav-link text-white" href="{% url model_url_index %}">
        <i class="fa fa-2x fa-list-ul" title="{{ model_name_plural }}"></i>
    </a>

    <!-- delete -->
    <a class="nav-item nav-link text-white" href="{% url model_url_destroy record.id %}">
        <i class="fa fa-2x fa-trash " title="Delete"></i>
    </a>
{% endblock nav %}

{% block head %}
    <style type="text/css">
        .avatar {
            border:2px solid #212121;
        }            
    </style>    
{% endblock head %}

{% block content %}
     <h1>{{ model_app|upper }} {{ model_name|title }}- Detail</h1>
    
    {% if messages %}
    <div class="row flex-spaces">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}{% if not message.tags %}info{% endif %} alert-dismissible fade show " role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Well done!</strong> {{ message }}.
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form enctype="multipart/form-data" action="{% url model_url_update record.id %}" method="post" class="form">
        {% csrf_token %}

        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#id-div-work" aria-expanded="true">
                    <div class="panel-heading bg-inverse color-gray">
                        <h4 class="panel-title">
                            {{ model_name|title }} Info
                        </h4>
                    </div>
                    
                </a>
            <div id="id-div-work" aria-expanded="true" class="collapse show" >
                <div class="panel-body">
                    <table class="table table-condensed table-bordered" id="id-table-work">
                        <tbody>
                            {{ form }}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <!-- submit button -->
        <input class="action-save btn-success btn-block border-5" type="submit" name="save" value="Save" id='id-bottom'>
        <input class="action-save btn-success btn-block border-5" type="submit" name="saveandcontinue" value="Save and continue editing">
    </form>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/project_common.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#id-button-add-row-schedule-timetable').click(function() {
                cloneMore('#id-table-schedule-timetable tbody tr:last', 'scheduletimetable_set');
            })
            
        })
    </script>
{% endblock script %}
