

        <div class="copyright text-center text-white dark-primary-color fixed-bottom p-0">
            <div class="container-fluid">
                <small>Copyright &copy; Santos-Cua AAC Firm Management 2017</small>
                |
                <small>part of FirmOne project by: <span class="badge default" title="Visit iamhanz now!"><a href="http://iamhanz.com" target="_blank" class="text-white">iamhanz.com</a></span></small>
                <i class="fa fa-heart-o"></i>
            </div>
        </div>