<!-- pagination top -->  
<nav class="row" aria-label="{{ model_name|title }} table navigation">
    <div class="pagination row col-xs-12 col-md-9 flex-right child-borders text-center">
        <!-- previous -->
            {% ifequal model_list.has_previous False %}
                <div class='xs-1 sm-1 md-1 col disabled border border-primary'>
                    <span class=""><i class="fa fa-angle-left icon-label" title="previous"></i></span>
                </div>
            {% endifequal %}
            {% if model_list.has_previous %}
                <div class="xs-1 sm-1 md-1 col border border-primary ">
                    <a class="" href="?q={{ q }}&page={{ model_list.previous_page_number }}"><i class="fa fa-angle-left icon-label" title="previous"></i></a>
                </div>
            {% endif %}

        <!-- next -->
            {% if model_list.has_next %}
                <div class="xs-1 sm-1 md-1 col border border-primary ">
                    <a class="" href="?q={{ q }}&page={{ model_list.next_page_number }}"><i class="fa fa-angle-right icon-label" title="next"></i></a>
                </div>
            {% endif %}
            {% ifequal model_list.has_next False %}
                <div class='xs-1 sm-1 md-1 col border border-primary  disabled'>
                    <span class=""><i class="fa fa-angle-right icon-label" title="next"></i></span>
                </div>
            {% endifequal %}
    </div>
    <div class="col-3">
        <small>Showing <b>{{ model_list.start_index }}</b> to <b>{{ model_list.end_index }}</b> of {{model_list.paginator.count}}</small>
    </div>
</nav>