{% extends "base_santoscua.html" %}

{% block title %}Employees{% endblock title %}

{% block nav %}
    {{ block.super }}
{% endblock nav %}

{% block head %}
    <style type="text/css">
        .model-icon{
            font-size: 40px;
            color: black;
        }
        .pager li.active > a, .pager li.active > span{
            color: #fff;
            background-color:#212121;
            border-color: #212121;
            pointer-events:none;
        }
        .img-avatar {
            min-width: 150px;
            min-height: 200px;
        }
    </style>
{% endblock head %}

{% block content %}
    
    <h1 class="">Employees - List</h1>
    <!-- search box -->
    {% include 'includes/index_search.html' %}

    {% if employee_list %}
        <!-- list -->
        <div class="container">
            <!-- pagination top -->
            {% include 'includes/index_pagination.html' with model_list=employee_list model_name='employees' %}

            <!-- employee cards -->
            <div class="row flex-spaces"> 

            {% for employee in employee_list %}          
              <div class="card" style="width: 20rem;">

                <!-- badges here -->
                <div class="card-header">
                    <span>{{ employee.abbr|upper }}</span>
                    {% if not employee.date_resigned %}
                        <span class="badge success">Active</span>
                    {% endif %}
                    {% if employee.date_resigned %}
                        <span class="badge default">Resigned</span>
                    {% endif %}
                </div>

                    <!-- if has uploaded image -->
                    {% if employee.contact.image %}
                        <img class="text-center img-avatar" src="/media/{{employee.contact.image }}" width="150px" height="200px" alt="{{employee.contact.alias}} image">

                    {% endif %}

                    <!-- if no uploaded image -->
                    {% if not employee.contact.image %}
                        <img class="text-center img-avatar" src="/media/contacts/images/empty.png" width="150px" height="200px" alt="{{contact.alias}} image">
                    {% endif %}
                    
                  <div class="card-body" >
                    <h4 class="card-title">
                        <a class="color-black action-detail" data-action-alias="{{ employee.abbr|upper }}" href="{% url 'employees:detail' employee.id %}"  title="view {{employee.abbr}}">
                            {{employee.contact|title}}
                        </a>
                    </h4>

                    <!-- <h5 class="card-subtitle"></h5> -->
                    <!-- <p class="card-text"><span class="badge default">ID</span>{{employee.id_num}}</p> -->
                    <p class=" card-text">
                        <span class="badge default">ID</span><span>{{employee.id_num}}</span><br>
                        <span class="badge default">Hired</span><span>{{ employee.date_hired }}</span><br>
                    </p>
                        
                  </div>  <!-- card body -->

                    <div class="card-footer">
                        <form id='id-form-delete-{{forloop.counter}}' action="{% url 'employees:destroy' employee.id %}" method="post">

                            {% csrf_token %}
                            <button form='id-form-delete-{{forloop.counter}}' class="action-delete btn btn-outline-danger" type="submit" title="delete">
                                <i class="fa fa fa-trash-o" ></i>
                            </button>
                            
                        </form>

                    </div>

                </div>              
            
            {% endfor %}
                
            </div>

            <!-- pagination bottom --> 
            {% include 'includes/index_pagination.html' with model_list=employee_list model_name='employees' %}
    {% endif %}

    <!-- if recordset is blank -->
    {% if not employee_list  %}
        {% include 'includes/index_no_record.html' %}
    {% endif %}

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('.action-toggle-buttons').click(function(){
                $(this).toggle()
            })
        })
    </script>
{% endblock script %}
