{% extends "base_santoscua.html" %}

{% block title %}Compliance Status{% endblock title %}

{% block nav %}
    <!-- compliance home -->
    {% include '../home.html' %}
{% endblock nav %}

{% block head %}
    <style type="text/css">
        .model-icon{
            font-size: 40px;
            color: black;
        }
        .pager li.active > a, .pager li.active > span{
            color: #fff;
            background-color:#212121;
            border-color: #212121;
            pointer-events:none;
        }
        .actions-toggle-icons{
            font-size: 25px;
        }
    </style>
{% endblock head %}

{% block content %}
     <h1 class="">Status - List</h1>

    <!-- if recordset is blank -->
    {% if not status_list  %}
        <div class="container">
            {% include 'includes/index_no_record.html' %}
            
        </div>
    {% endif %}
    
    {% if status_list %}    
        <!-- pagination top -->
        {% include 'includes/index_pagination.html' with model_list=status_list model_name="status" %}

        <!-- list -->
        <div class="container">
            <table class="table table-condensed table-bordered table-hover table-striped color-black">
                <thead class="table-inverse">
                    <tr class="text-capitalize ">
                        <th class="text-center " colspan="3">deadline</th>
                        <th class="text-center " rowspan="2">status</th>
                        <th class="text-center " rowspan="2">as of</th>
                        <th class="text-center " rowspan="2">remarks</th>
                        <th class="text-center " rowspan="2">actions</th>
                    </tr>
                    <tr class="text-capitalize">
                        <th class="text-center">client</th>
                        <th class="text-center">form</th>
                        <th class="text-center">due on</th>
                    </tr>
                </thead>
                    {% for status in status_list %}
                        <tr>
                            <!-- client -->
                            <td class="text-center ">
                                {{status.get_client|upper}}
                            </td>
                            <!-- form -->
                            <td class="text-center ">
                                {{status.bir_deadline.compliance.bir_form}}
                            </td>

                            <!-- date -->
                            <td class="text-left ">
                                {{status.bir_deadline.date_deadline}}
                            </td>

                            <!-- status  -->
                            <td class="text-center">
                                <!-- working -->
                                {% ifequal status.status 1 %}
                                     <span class="badge badge-pill badge-default">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}

                                <!-- drafted -->
                                {% ifequal status.status 2 %}
                                     <span class="badge badge-pill badge-primary">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}

                                <!-- filed -->
                                {% ifequal status.status 3 %}
                                     <span class="badge badge-pill badge-info">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}

                                <!-- verification -->
                                {% ifequal status.status 4 %}
                                     <span class="badge badge-pill badge-warning">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}

                                <!-- paid -->
                                {% ifequal status.status 5 %}
                                     <span class="badge badge-pill badge-danger">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}

                                <!-- done -->
                                {% ifequal status.status 6 %}
                                     <span class="badge badge-pill badge-success">
                                        {{status.get_status_verbose}}
                                    </span>
                                {% endifequal %}
                            </td>

                            <!-- as of  -->
                            <td>
                                {{status.as_of}}
                            </td>

                            <!-- remarks -->
                            <td class="text-center">
                                {{status.remarks|lower}}
                            </td>

                            <!-- actions -->
                            <td class="text-center">

                                <a class="btn btn-outline-default action-toggle-buttons" data-toggle="collapse" href="#id-table-actions-{{forloop.counter}}" aria-expanded="false" aria-controls="id-table-actions-{{forloop.counter}}">
                                  <i class="fa fa-angle-double-down actions-toggle-icons"></i>
                                </a>

                                <div class="collapse" id="id-table-actions-{{forloop.counter}}">
                                  <div class="card card-block">

                                    <form id='id-form-delete-{{forloop.counter}}' action="{% url 'compliance:status_destroy' status.id %}" method="post">

                                        {% csrf_token %}
                                        <button form='id-form-delete-{{forloop.counter}}' class="action-delete btn btn-outline-danger" type="submit" title="delete">
                                            <i class="fa fa fa-trash-o" ></i>
                                        </button>
                                    </form> <!-- delete -->

                                  </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                <tbody>
                    
                </tbody>
            </table>

            <!-- pagination top -->
            {% include 'includes/index_pagination.html' with model_list=status_list model_name="status" %}
        </div>
    {% endif %}

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('.action-toggle-buttons').click(function(){
                $(this).toggle()
            })
        })
    </script>
{% endblock script %}
